.main-screen{
    display: flex;
    flex-direction: column;
}

.user-component{
    justify-content: space-between;
    margin-bottom: 30px;
}

.user-component, .user-component__column{
    display: flex;
    align-items: center;
    justify-items: center;
}

.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-right: 20px;
}

.user-component__title{
    font-weight: 600;
    font-size: 18px;
}

.user-component__title__lg{
    font-size: 32px;
    font-weight: 600;
}

.user-component__subtitle{
    margin-top: 5px;
    font-size: 17px;
    color: rgba(0,0,0,0.5);
}

.user-component__text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.user-component__avatar--xl{
    width: 80px;
    height: 80px;
}
.friends-screen__channel-header{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space) 20px;
    color: rgba(0,0,0,0.5);
    margin-bottom: 30px;
}
.user-component__avatar--sm{
    width: 60px;
    height: 60px;
}

.user-component:nth-child(2){
    display: flex;   
}
.user-component__title--not-bold{
    font-weight: 400;
}

.user-component__column:last-child{
    color: rgba(0, 0, 0, 0.5);

}
/* 이거 말고, 
.user-component:nth-child(2) .user-component__column:nth-child(2)
는 안됐음. 왜 안됐을까?*/

.user-component-time{
    margin-bottom: 10px;
    display: block;
}

