@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import "reset.css";
@import "variable.css";
@import "component/status-bar.css";
@import "screen/welcome-header.css";
@import "screen/login-form.css";
@import "screen/friend.css";

@import "component/nav-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/badge.css";
@import "component/icons-row.css";
@import "component/alternative-screen-header.css";


@import "Chats.css";
@import "find.css";
@import "more.css";
@import "setting.css";
body{
  max-width: var(--max-width);
  height: 1000px;
  background-color: rgb(255, 255, 255);
  font-family: 'Fira Sans', sans-serif;}

  .main-screen{
    padding: 0px var(--horizontal-space);

  }


