#chat-screen{
    background-color: #abc1d1;
    height: 2000px;
}

#chat-screen .alt-header{
    top: 0;
    position: fixed;
    width: 98vw;
    margin-right: 25px;
}
#chat-screen .status-bar, #chat-screen .alt-header{
    top: 0;
}
img{
    object-fit: cover;
}

@keyframes fadein {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
opacity: 1;
transform: none;

    }
    
}
@keyframes message-move {
        from{
            opacity: 0;
            transform: translateX(-50px);
        }
        to{
            opacity: 1;
            transform: none;
        }
}
@keyframes message-move-right {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
.chat-main{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alt-header, .chat__timestamp{
    animation: fadein 0.5s linear;

}
.chat__timestamp{
    color: white;
    background-color: #92a4b2;
    border-radius: 15px;
    padding: 8px 15px;
font-size: 14px;
margin-bottom: 25px;
}
.message-row__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.message-row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
    animation: message-move 1s linear forwards;
}
.message-row__me{
    animation: message-move-right   1s linear forwards;

}

.message-row:nth-child(2){
    animation-delay: 0.5s;
    opacity: 0;

}
.message-row:nth-child(3){
    animation-delay: 0.9s;
    opacity: 0;

}
.message-row:nth-child(4){
    animation-delay: 1.3s;
    opacity: 0;


}
.message__author{
    opacity: 0.8;
    font-size: 13px;
    margin-bottom: 7px;
    display: block;
}
.message__bubble{
    background-color: white;
    padding: 13px;
    border-radius: 20px;
    border-top-left-radius: 0px;
}
.message__info{
    display: flex;
    align-items: flex-end;
}
.message__title{
    opacity: 0.8;
    font-size: 13px;
    padding-left: 5px;
}
.message-row__me{
justify-content: flex-end;}

.message__me__bubble{
    border-top-right-radius: 0px;
    border-top-left-radius: 20px;
    background-color: var(--yellow);
}
.message__me__info{
    display: flex;
    /* flex-direction: row-reverse;
    이것도 되지만*/
}


.message__me__title{
    margin-right: 5px;
    order: 0;
}
.message__me__bubble{
order: 1;
}

.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    transition: all 0.3s linear;
}
.reply__column:nth-child(1){
    width: 5%;
    font-size: 30px;
    opacity: 0.5;
}
.reply__column:nth-child(2){
    width: 90vw;
    display: flex;
    align-items: center;
    font-size: 20px;
    position: relative;

}
.reply__column:nth-child(2) button{
    position: absolute;
    right:0;
    background-color: var(--yellow);
    font-size: 25px;
    border-radius: 50%;
    border: 0px;
    margin-right: 20px;
}
.reply input{
    height: 13px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    padding: 12px;
    margin-right: 20px;
    transition: all .3s ease-in-out ;
}

.reply .fa-face-smile{
    position: absolute;
    right: 55px;
    opacity: 0.5;
}
.reply__column:nth-child(2) button:focus,
.reply__column:nth-child(2) button:active{
outline: none;
}
.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button{
    transition: opacity .3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button{
    opacity: 0;
}
.reply:focus-within input{
    width: 98vw;
    transform: translateX(-7%) translateY(-80px);
    margin: 0px 25px;
}
.reply:focus-within .reply__column:nth-child(2){
    width: 98vw;
}
.reply:focus-within{
    transform: translateY(80px);
}