.fa-envelope-open-text{
    width: 60px;
    height: 60px;
}
.fa-triangle-exclamation{
    color: rgb(245, 83, 83);
}


.suggestions__icons{
    list-style:none;
    display: flex;
}
.suggestions__icons{
    margin: 20px;
    margin-top: 0px;

}
.suggestions__icons li:first-child{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.suggestions__icons li img{
    width: 60px;
    height: 60px;
}
.suggestions__icons li{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.suggestions__icons__friends{
    background-image: url('img/kakaogem.jpg');
    background-size: cover;
    width: 60px;
    height: 60px;
}
.suggestions__icons__gem{
    background-image: url("img/01.png");
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
}
.suggestions__icons li span{
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}
.suggestions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.suggestions__title{
    margin: 20px 0px 20px 20px;
    font-size: 20px;
}

.icons-row__list{
    border-bottom: var(--main-border);
}
.icons-row__item{
text-align: center;
}